body{
    background: url(./white-wall.jpg)
}

h1{
    
    color: #fff;
    background: rgb(15, 13, 131);
    width:100%;
    text-align: center;
    padding: 10px  20px;
}

#main{
    margin: 0 auto;
    width: 25%;
}

#main > div{
    font-size: 1.3em;
    text-align: center;
    background: #fff;
    padding:10px 0;
    margin:10px auto;
    position: relative;
    left:5%;   
    border: 2px solid  rgb(15, 13, 131);
}

#main > div:last-child{
    text-align: left;
    padding-left:20px; 
}

